# SQL, a primer

## ERD Diagram

draw a ER diagram of the database and paste the screen shot here. 

you can use [this online editor for example](https://online.visual-paradigm.com/diagrams/solutions/free-erd-editor-online/)

## Query the database

### Simple Query

ğŸ¤” display the records of the table weibo_status (fetchall)

In [64]:
import sqlite3
conn=sqlite3.connect('UTSEUS-shanghai-weibo-2012.db')
c=conn.cursor()
c.execute("SELECT * FROM weibo_status")
rows=c.fetchall()
len(rows)

520223

ğŸ¤” display the first 5 records of the table weibo_status (fetchone, limit)

In [10]:
query='''
SELECT * 
FROM weibo_status
LIMIT 5
'''
c.execute(query)
rows=c.fetchall()
rows

[(3513796771294526,
  'åƒç«é”…å•¦ æˆ‘åœ¨#æ´ªé•¿å…´ç¾Šè‚‰é¦†(äº‘å—å—è·¯åº—)# http://t.cn/zOeOmRM',
  1153054312,
  34647,
  '2012-11-18 19:24:56+08',
  None),
 (3514061394691877,
  'æˆ‘è¦å›æ¥å•¦ï¼ï¼ï¼é˜³å…‰æ˜åªšå•Šï¼ æˆ‘åœ¨#å¤§è¿å‘¨æ°´å­å›½é™…æœºåœº# http://t.cn/zOrpZiP',
  2883949090,
  19848,
  '2012-11-19 12:56:27+08',
  None),
 (3517373581677145,
  'ä¸è¦æ•£å¸ƒä½ çš„å›°æƒ‘å’Œè‹¦å„ï¼Œæ›´ä¸è¦ç‚«è€€ä½ çš„å¹¸ç¦å’Œå–œä¹ã€‚é‚£åªä¼šä½¿å®ƒä»¬å˜å¾—å»‰ä»·ã€‚åšä¸ªæœ‰éª¨æ°”çš„äººï¼Œæˆ´ä¸€å‰¯åˆæ³•çš„è¡¨æƒ…ï¼Œçºµæœ‰åƒè¨€ä¸‡è¯­ï¼Œåªä¸è‡ªå·±è¯´ã€‚ æˆ‘åœ¨#æ–°è‘¡äº¬å¨±ä¹åœº# http://t.cn/zj5w1zd',
  2287099050,
  32214,
  '2012-11-28 16:17:55+08',
  None),
 (3518848299203707,
  'The food just so so here [å›´è„–] æˆ‘åœ¨#é¦–å°”ç„–é²œæ±‡# http://t.cn/zjtAtq9',
  1765471642,
  2214,
  '2012-12-02 17:57:53+08',
  None),
 (3518909267803148,
  'è€å…¬å’ŒåŒäº‹é¥­å±€é—´ä½œä¸€æ‰“æ¸¸è¯—:æˆ‘å2 å·å¤´ï¼Œä½ å2å·å°¾ï¼Œ æ—¥æ—¥æ€å›ä¸è§å›ï¼Œå…±å2å·è½¨ã€‚è‡´é™å®‰å¥³å’Œå¼ æ±Ÿç”·ã€‚ æˆ‘åœ¨è¿™é‡Œï¼šhttp://t.cn/zlQbJ1x',
  2709940290,
  31412,
  '2012-12-02 22:00:10+08',
  None)]

### query with projection

ğŸ¤” display the columns with the status text and the date from weibo_status

In [65]:
query='''
SELECT status,created_at
FROM weibo_status
'''
c.execute(query)
rows=c.fetchall()
len(rows)

520223

ğŸ¤” display the description and gender from the table weibo_user __*renamed into `wu`*__

In [66]:
query='''
SELECT wu.description,wu.gender
FROM weibo_user wu
'''
c.execute(query)
rows=c.fetchall()
len(rows)

547363

ğŸ¤” display only the description from the table weibo_user but __rename the column `desc` instead of `description`__

In [67]:
query='''
SELECT description as desc
FROM weibo_user
'''
c.execute(query)
rows=c.fetchall()
len(rows)

547363

### query with selection

ğŸ¤” Select all the points of interests (POI) in jufengyuan road from the table weibo_location

In [ ]:
query='''
SELECT * 
FROM weibo_location
WHERE address LIKE '%%'
'''
c.execute(query)
rows=c.fetchall()
rows

ğŸ¤” Select all the shops around century park: bounding box __top left__ `121.5276, 31.2256` and __bottom right__ `121.5705, 31.2097`

In [24]:
query='''
SELECT *
FROM weibo_location
WHERE longitude BETWEEN 121.5276 AND 121.5705
AND latitude BETWEEN 31.2097 AND 31.2256
'''
c.execute(query)
rows=c.fetchone()
rows

(136,
 'é€¸è°·',
 31.2123126416,
 121.563296975,
 'B2094757D065A6FF479C',
 'ä¸Šæµ·å¸‚èŠ³ç”¸è·¯',
 'ä¸Šæµ·å¸‚,æµ¦ä¸œæ–°åŒº,èŠ³ç”¸è·¯',
 'å¹¿ä¸œèœ',
 'Cantonese cuisine',
 'é¤é¥®',
 72,
 332,
 308,
 130)

ğŸ¤” Select all the message where the text contains `happy`

In [16]:
query='''
SELECT *
FROM weibo_status
WHERE status LIKE '%happy%'
'''
c.execute(query)
rows=c.fetchone()
rows

(3520379303401237,
 ' @Joke_Li_CH  Happy Day[çˆ±ä½ ] æˆ‘åœ¨è¿™é‡Œï¼šhttp://t.cn/zjcKBGB',
 1828408552,
 49448,
 '2012-12-06 23:21:34+08',
 None)

ğŸ¤” Select all the message where the text contains `happy` or `sad`

In [18]:
query='''
SELECT *
FROM weibo_status
WHERE status LIKE '%happy%' or '%sad%'
'''
c.execute(query)
rows=c.fetchone()
rows

(3520379303401237,
 ' @Joke_Li_CH  Happy Day[çˆ±ä½ ] æˆ‘åœ¨è¿™é‡Œï¼šhttp://t.cn/zjcKBGB',
 1828408552,
 49448,
 '2012-12-06 23:21:34+08',
 None)

### query with counting

ğŸ¤” what is the most popular word in the message, `happy` or `sad`?

In [39]:
query = '''
SELECT COUNT(*)
FROM weibo_status
WHERE status LIKE '%happy%'
'''
query1='''
SELECT COUNT(*)
FROM weibo_status
WHERE status LIKE '%sad%'
'''
c.execute(query)
rows_happy = c.fetchall()
c.execute(query1)
rows_sad = c.fetchall()
if (rows_happy>rows_sad):
    print("happy is more popular")
else:
    print("sad is more popular")

happy is more popular

### query with sorting

ğŸ¤” show the top 10 coffee place according to their distinct user checkin count

In [55]:
query='''
SELECT title
FROM weibo_location
WHERE category_name = 'å’–å•¡å…'
ORDER BY distinct_user_checkin_count DESC
LIMIT 10
'''
c.execute(query)
rows=c.fetchall()
rows

[('æ˜Ÿå·´å…‹(å›½è´¸360å¹¿åœºåº—)',),
 ('æ˜Ÿå·´å…‹(æ–°å¤©åœ°åº—)',),
 ('æ˜Ÿå·´å…‹(æ¥ç¦å£«åº—)',),
 ('è‹å·ä¸­èŒµçš‡å† å‡æ—¥é…’åº—',),
 ('æ˜Ÿå·´å…‹å’–å•¡ç¾ç½—åº—',),
 ('å¤è‘£èŠ±å›­ Antique Garden',),
 ('STARBUCKS COFFEE(å¤§å®å›½é™…å•†ä¸šå¹¿åœº)',),
 ('æ˜Ÿå·´å…‹å’–å•¡(ä¸‡è¾¾åº—)',),
 ('æ˜Ÿå·´å…‹(é¾™ä¹‹æ¢¦åº—)',),
 ('æ˜Ÿå·´å…‹å’–å•¡(å—äº¬è·¯æ­¥è¡Œè¡—)',)]

### query with grouping
ğŸ¤” list the locations grouped by their english category name (remove the null and unknown categories)

In [63]:
query = '''
SELECT DISTINCT category_en_name
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM',),
 ('Activity',),
 ('Adult Education',),
 ('Airport',),
 ('American flavor',),
 ('Anhui dishes',),
 ('Antiques and paintings shop',),
 ('Aquarium',),
 ('Archives',),
 ('Art gallery',)]

ğŸ¤” list the locations english category names and how many location each category has (remove the null and unknown categories)

In [62]:
query = '''
SELECT DISTINCT category_en_name,COUNT(*)
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM', 30),
 ('Activity', 8),
 ('Adult Education', 46),
 ('Airport', 183),
 ('American flavor', 8),
 ('Anhui dishes', 3),
 ('Antiques and paintings shop', 7),
 ('Aquarium', 2),
 ('Archives', 2),
 ('Art gallery', 17)]

ğŸ¤” list the top 10 locations english category names according to their count (remove the null and unknown categories)

In [56]:
query = '''
SELECT DISTINCT category_en_name,COUNT(*)
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
ORDER BY COUNT(*) DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 5004),
 ('Food & Drink', 2294),
 ('Fast-food restaurant', 2254),
 ('Bus Station', 1859),
 ('Buildings', 1763),
 ('Other', 1735),
 ('Door', 1340),
 ('Live Entertainment', 1212),
 ('Shanghai cuisine', 990),
 ('Company', 811)]

ğŸ¤” list the top 10 locations english per street ordered by count. If the count is the same, order by the (category, street) having the most total checking

In [75]:
query = '''
SELECT DISTINCT category_en_name,street,title,COUNT(*) as total,SUM(distinct_user_checkin_count) as checkin
FROM weibo_location
WHERE (street <> 'None' AND category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY street,category_en_name
ORDER BY total DESC,checkin DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Food & Drink', 'ä¸Šæµ·å¸‚å—äº¬è¥¿è·¯', 'ç‹å“å°å¡‘ç‰›æ’', 32, 6786),
 ('Other', 'ä¸Šæµ·å¸‚å—äº¬è¥¿è·¯', 'ä½°å®¶ä»Ÿå‘³', 28, 7737),
 ('Residences', 'ä¸Šæµ·å¸‚åœºä¸­è·¯', 'å¹¸ç¦ç¬¬äºŒå…¬å¯“', 28, 713),
 ('Buildings', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 'é¦–ä¿¡é“¶éƒ½å¤§å¦', 26, 3243),
 ('Residences', 'ä¸Šæµ·å¸‚æ–œåœŸè·¯', 'ç¦åèŠ±è‹‘', 26, 384),
 ('Food & Drink', 'ä¸Šæµ·å¸‚åå±±è·¯', 'æµ·åº•æ', 25, 3053),
 ('Fast-food restaurant', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 'å¥åˆ©æ¥ç»¿è±†é¥¼(å…±å’Œæ–°è·¯åº—)', 25, 2366),
 ('Food & Drink', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 'èµ¤å‚äº­ å¤§å®åº— A KA SA KA TEI', 25, 1734),
 ('Airport', 'ä¸Šæµ·å¸‚æµ¦ä¸œæœºåœºè·¯', 'ä¸Šæµ·æµ¦ä¸œå›½é™…æœºåœºT1èˆªç«™æ¥¼', 24, 112067),
 ('Residences', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 'å®ä¸šé¦¨åº·è‹‘', 24, 667)]

### query multiple tables
ğŸ¤” select the top 10 location where people got birthday party

In [78]:
query = '''
SELECT 
    title,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    status LIKE '%happy birthday%' or
    status LIKE '%ç”Ÿæ—¥å¿«ä¹%'
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('å°åŒ—çº¯K Party', 12),
 ('å”›æ­Œæ—¶å°šKTV(æ·®æµ·ä¸­è·¯åº—)', 11),
 ('é“¶ä¹è¿ª(è™¹å£é¾™ä¹‹æ¢¦åº—)', 10),
 ('Richy(å¤å…´å…¬å›­åº—)', 9),
 ('ä¸Šæµ·æˆå‰§å­¦é™¢(è²èŠ±è·¯æ ¡åŒº)', 9),
 ('MUSE', 7),
 ('MUSE2', 7),
 ('é“¶ä¹è¿ª', 6),
 ('è¯å¤§Â·å¤§æ‹‡æŒ‡å¹¿åœº', 6),
 ('å¤§æ‚¦åŸ', 6)]

ğŸ¤” select the top 10 favorite location where the top 500 most popular people

In [80]:
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 8),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 7),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 7),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 7),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 7),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 5),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 5)]

ğŸ¤” THE FINAL QUERY
1. select the top 50 favorite location where the 500 most popular woman go 
2. select the top 50 favorite location where the 500 most popular men go
3. display the one they have in common and the one specific for each of these two genders orders by how many influencers go there

In [84]:
#q1
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 50
'''
c.execute(query)
rows = c.fetchall()
rows

[('å‡¤åŸä¸‰æ‘', 'ä¸Šæµ·å¸‚æ±Ÿæµ¦è·¯', 13),
 ('åº·æ³°æ–°åŸ', 'ä¸Šæµ·å¸‚åçµè·¯', 13),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 9),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 7),
 ('ä¸‡æºåŸæœ—éƒ¡', 'ä¸Šæµ·å¸‚å¤é¾™è·¯', 6),
 ('æ±¤è‡£é«˜å°”å¤«åˆ«å¢…', 'ä¸Šæµ·å¸‚é¾™ä¸œå¤§é“', 6),
 ('ä¸ƒéŸµç¾åœ°è‹‘', 'ä¸Šæµ·å¸‚å´ä¸­è·¯', 6),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 6),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 5),
 ('å—å®œèŠ±è‹‘', 'ä¸Šæµ·å¸‚å‡¯æ—‹è·¯', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 5),
 ('é¦¥é‚¦ä¸­ç¯å¹¿åœº', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 5),
 ('ä¸Šæµ·å¤–æ»©åå°”é“å¤«é…’åº—(Waldorf Astoria Shanghai on the Bund)', 'ä¸Šæµ·å¸‚å»¶å®‰ä¸œè·¯', 5),
 ('å®‰å±…å…°åº­', 'ä¸Šæµ·å¸‚å…°æºªè·¯', 4),
 ('muse 2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 4),
 ('æ¢…èµ›å¾·æ–¯å¥”é©°æ–‡åŒ–ä¸­å¿ƒéŸ³ä¹ä¿±ä¹éƒ¨', 'ä¸Šæµ·å¸‚åšæˆè·¯', 4),
 ('æ˜Ÿå·´å…‹(ä¸œæ¨±èŠ±è‹‘åº—)', 'ä¸Šæµ·å¸‚æµ¦é€¸è·¯', 4),
 ('ä¸Šæµ·æŸæ‚¦é…’åº—', 'ä¸Šæµ·å¸‚ä¸–çºªå¤§é“', 4),
 ('å¤æ—¦å¤§å­¦å—åŒº', 'ä¸Šæµ·å¸‚æ”¿è‚ƒè·¯', 4),
 ('ä¸Šæµ·å¸‚å›­æ—å­¦æ ¡', 'ä¸Šæµ·å¸‚æ¨æ ‘æµ¦è·¯', 3),
 ('ä¸Šæµ·å›½é‡‘ä¸­å¿ƒIFC', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ç¯è·¯', 3),
 ('ç»¿åœ°æ™®é™€å•†åŠ¡å¹¿åœº', 'ä¸Šæµ·å¸‚æ–°æ‘è·¯', 3),
 ('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 3),
 ('è°ƒé¢‘å£¹å¹¿åœº', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 3),
 ('æ˜Ÿå·´å…‹(äº”è§’åœºåº—)', 'ä¸Šæµ·å¸‚é‚¯éƒ¸è·¯', 3),
 ('æŸšå­(é™†å®¶å˜´åº—)', 'ä¸Šæµ·å¸‚é“¶åŸä¸­è·¯', 3),
 ('å¤§åè™åŸ', 'ä¸Šæµ·å¸‚å¤§åè·¯', 3),
 ('2013è·¨å¹´æ¼”å”±ä¼šèšé›†åœ°', 'åŒ—äº¬å¸‚è¿œå¤§ä¸œè·¯', 3),
 ('å›½å³°ç§‘æŠ€å¤§å¦', 'ä¸Šæµ·å¸‚å†…ç¯é«˜æ¶è·¯å…¥å£', 3),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 3),
 ('ä¸Šæµ·æ•°å¨±å¤§å¦', 'ä¸Šæµ·å¸‚è™¹æ¡¥è·¯', 3),
 ('å¾·å·è·¯è¥¿è¥è·¯', 'ä¸Šæµ·å¸‚å¾·å·è·¯', 2),
 ('çº½æ–¯æ¡‘æ‹¿ä¼šæ‰€', 'ä¸Šæµ·å¸‚é‡‘æ±‡å—è·¯', 2),
 ('CGVæ˜Ÿæ˜Ÿå›½é™…å½±åŸå¤§ååº—', 'ä¸Šæµ·å¸‚å¤§åè·¯', 2),
 ('ä¸Šå¤§èšä¸°å›­', 'ä¸Šæµ·å¸‚ä¸Šå¤§è·¯', 2),
 ('ä¸Šæµ·æµ¦ä¸œæ–°åŒºå›¾ä¹¦é¦†(æ–°é¦†)', 'ä¸Šæµ·å¸‚å‰ç¨‹è·¯', 2),
 ('å¤–æ»©', 'ä¸Šæµ·å¸‚ä¸­å±±ä¸œä¸€è·¯', 2),
 ('å¤§æ‚¦åŸ', 'ä¸Šæµ·å¸‚è¥¿è—åŒ—è·¯', 2),
 ('ç”°å­åŠ', 'ä¸Šæµ·å¸‚å»ºå›½ä¸­è·¯', 2),
 ('IN-HOUSE', 'ä¸Šæµ·å¸‚æ„šå›­è·¯', 2),
 ('ä¸Šå²›å’–å•¡ æµ¦åŒ—åº— UBC Coffee', 'ä¸Šæµ·å¸‚æ¡‚å¹³è·¯', 2),
 ('ä¸Šæµ·å¤–æ»©èŒ‚æ‚¦å¤§é…’åº—', 'ä¸Šæµ·å¸‚å—æµ”è·¯', 2),
 ('åŒæµå¤§å­¦(æ²ªè¥¿æ ¡åŒº)', 'ä¸Šæµ·å¸‚çœŸå—è·¯', 2),
 ('é¾™ä¹‹æ¢¦å½±åŸ', 'ä¸Šæµ·å¸‚æ±‡å·è·¯', 2),
 ('ä¸œåå¤§å­¦-è±ä½›å£«å›½é™…è®¾è®¡å­¦é™¢', 'ä¸Šæµ·å¸‚æ–°åè·¯', 2),
 ('ä¸Šæµ·å¸‚å…¬å®‰å±€å‡ºå…¥å¢ƒç®¡ç†å±€', 'ä¸Šæµ·å¸‚æ°‘ç”Ÿè·¯', 2),
 ('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 2),
 ('æ¸¯åŒ¯æ†éš†å»£å ´', 'ä¸Šæµ·å¸‚åå±±è·¯', 2)]

In [112]:
#q2
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 50
'''
c.execute(query)
rows = c.fetchall()
rows

[('ä¸Šæµ·è´¢ç»å¤§å­¦ä¸­å±±åŒ—ä¸€è·¯æ ¡åŒº', 'ä¸Šæµ·å¸‚æ–°å¸‚è·¯', 13),
 ('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 8),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 7),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 5),
 ('ä¸­è¿œä¸¤æ¹¾åŸè¥¿åŒº', 'ä¸Šæµ·å¸‚å…‰å¤è¥¿è·¯', 4),
 ('å’Œé£é€ å‹ç§å±Salon', 'ä¸Šæµ·å¸‚ä¸Šå—è·¯', 4),
 ('å—æ–°å››æ‘', 'ä¸Šæµ·å¸‚ä¸‹å—è·¯', 4),
 ('å¹¸ç¦è·¯', 'ä¸Šæµ·å¸‚å¹¸ç¦è·¯', 4),
 ('è™¹å£ä½“è‚²é¦†', 'ä¸Šæµ·å¸‚ä¸œä½“è‚²ä¼šè·¯', 4),
 ('G-Star RAWæ——èˆ°åº—', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 4),
 ('è±ªäº«æ¥ æ¢…å·åº—', 'ä¸Šæµ·å¸‚æ¢…å·è·¯', 4),
 ('ä¸€å…†éŸ¦å¾·(ä¸½å›­åº—)', 'ä¸Šæµ·å¸‚è¥¿è—å—è·¯', 4),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 4),
 ('æµ·ä¼¦è·¯', 'ä¸Šæµ·å¸‚å››å¹³è·¯', 4),
 ('å¤§å®å›½é™…å•†ä¸šå¹¿åœº', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 3),
 ('å¤œå¸‚è±†æµ†æ²¹æ¡åº—', 'ä¸Šæµ·å¸‚ä¸´æ½¼è·¯', 3),
 ('å¼ æ±Ÿå­¦ç”Ÿç¤¾åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 3),
 ('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 3),
 ('å¤–ç¯éš§é“', 'ä¸Šæµ·å¸‚S20å¤–ç¯é«˜é€Ÿ', 3),
 ('å¾æ±‡ç‘å³°é…’åº—', 'ä¸Šæµ·å¸‚è‚‡å˜‰æµœè·¯', 3),
 ('åŒ—æ–—æ˜Ÿå•†ä¸šå¹¿åœº', 'ä¸Šæµ·å¸‚æ³‰ä¸´è·¯', 3),
 ('æ˜Ÿç€šå¥”é©°', 'ä¸Šæµ·å¸‚å—å¤§è·¯', 3),
 ('åˆé˜³å°åŒº(å—äºŒé—¨)', 'ä¸Šæµ·å¸‚å»¶é•¿è¥¿è·¯', 3),
 ('é‡‘èŒ‚å¤§å¦', 'ä¸Šæµ·å¸‚æµ·å…´è·¯', 3),
 ('å…¨å®¶ä¾¿åˆ©åº—(å»¶å®‰äºŒåº—)', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 2),
 ('ä¸Šæµ·å½±åŸ--ä¸–åšå›½é™…å½±åŸ', 'ä¸Šæµ·å¸‚ä¸–åšé¦†è·¯', 2),
 ('ä¸Šæµ·å…‰å¤§ä¼šå±•ä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¹ å‹¤è·¯', 2),
 ('è™¹æ¡¥æœºåœº(ä¸€å·èˆªç«™æ¥¼)', 'ä¸Šæµ·å¸‚ç©ºæ¸¯ä¸€è·¯', 2),
 ('æ–°å‘å±•äºšå¤ªä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚å¤§æ¸¡æ²³è·¯', 2),
 ('ä¸Šæµ·é¾™ä¹‹æ¢¦ä¸½æ™¶å¤§é…’åº—', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 2),
 ('ä¸Šæµ·å¤§å‰§é™¢', 'ä¸Šæµ·å¸‚æ–°æ˜Œè·¯', 2),
 ('çˆ±å®¶è±ªåº­', 'ä¸Šæµ·å¸‚ç‰©åè·¯', 2),
 ('ä¼Ÿä¸šé‡‘é”¦è‹‘äºŒé‚¨', 'ä¸Šæµ·å¸‚è±é˜³è·¯', 2),
 ('é”¦ç§‹èŠ±å›­', 'ä¸Šæµ·å¸‚é”¦ç§‹è·¯', 2),
 ('é€šæ²³äºŒæ‘', 'ä¸Šæµ·å¸‚é•¿æ±Ÿè¥¿è·¯', 2),
 ('æµ¦ä¸œäº¤è­¦æ”¯é˜Ÿäº‹æ•…ç§‘ä¸œæ˜äº‹æ•…å—ç†ç‚¹', 'ä¸Šæµ·å¸‚ä¸œæ˜è·¯', 2),
 ('ä¸Šæµ·å¸‚æ¨æµ¦åŒºä¸­å¿ƒåŒ»é™¢', 'ä¸Šæµ·å¸‚æ³¢é˜³è·¯', 2),
 ('ä¸œæ–¹æ˜ç ', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ä¸œè·¯', 2),
 ('æ½åŠä¹æ‘(è¥¿é—¨)', 'ä¸Šæµ·å¸‚å´‚å±±è·¯', 2),
 ('æµ¦ä¸œå˜‰é‡Œä¸­å¿ƒ', 'ä¸Šæµ·å¸‚èŠ³ç”¸è·¯', 2),
 ('Wagasæ²ƒæ­Œæ–¯(é‡‘æ¡¥å›½é™…å¹¿åœºåº—)', 'ä¸Šæµ·å¸‚é‡‘æ¡¥è·¯', 2),
 ('ä¸–çºªè”å(ä¸œå®åº—)', 'ä¸Šæµ·å¸‚å¤©é€šåºµè·¯', 2),
 ('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 2),
 ('å¼ æ±Ÿä¼ å¥‡å¹¿åœº', 'ä¸Šæµ·å¸‚ç¢§æ³¢è·¯', 2),
 ('ä¸Šæµ·åŠå²›é…’åº—(The Peninsula,Shanghai)', 'ä¸Šæµ·å¸‚åŒ—äº¬ä¸œè·¯', 2),
 ('ä¸Šæµ·å®‰è¾¾ä»•é…’åº—', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 2),
 ('ä¸Šæµ·æˆå‰§å­¦é™¢(è²èŠ±è·¯æ ¡åŒº)', 'ä¸Šæµ·å¸‚è²èŠ±è·¯', 2),
 ('ä¸Šå²›å’–å•¡ æ¢…å·è·¯åº— UBC Coffee', 'ä¸Šæµ·å¸‚æ¢…å·è·¯', 2),
 ('å¤æ—¦å¤§å­¦ä¸Šæµ·åŒ»å­¦é™¢', 'ä¸Šæµ·å¸‚åŒç”Ÿä¸œè·¯', 2),
 ('æ¡‚ç¾åˆ«å¢…', 'ä¸Šæµ·å¸‚é’¦å·å—è·¯', 2)]

In [113]:
#q3
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM
    weibo_location
WHERE
    title in (
        SELECT 
            title
        FROM 
            weibo_status ws
        JOIN
            weibo_location wl
        ON
            ws.weibo_location_id = wl.weibo_location_id
        WHERE 
            ws.weibo_user_id in (
                SELECT 
                    weibo_user_id 
                FROM 
                    weibo_user 
                WHERE 
                    gender='f' 
                ORDER BY 
                    followers_count DESC 
                LIMIT 500 ) 
        GROUP BY
            wl.weibo_location_id
        ORDER BY
            COUNT(*) DESC
        LIMIT 50 )
    AND
    title in (
        SELECT 
            title
        FROM 
            weibo_status ws
        JOIN
            weibo_location wl
        ON
            ws.weibo_location_id = wl.weibo_location_id
        WHERE 
            ws.weibo_user_id in (
                SELECT 
                    weibo_user_id 
                FROM 
                    weibo_user 
                WHERE 
                    gender='m' 
                ORDER BY 
                    followers_count DESC 
                LIMIT 500 ) 
        GROUP BY
            wl.weibo_location_id
        ORDER BY
            COUNT(*) DESC
        LIMIT 50 )
ORDER BY
    total
'''
c.execute(query)
rows = c.fetchall()
rows

[('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 2)]