# SQL, a primer

## ERD Diagram

draw a ER diagram of the database and paste the screen shot here. 

you can use [this online editor for example](https://online.visual-paradigm.com/diagrams/solutions/free-erd-editor-online/)

## Query the database

### Simple Query

🤔 display the records of the table weibo_status (fetchall)

In [64]:
import sqlite3
conn=sqlite3.connect('UTSEUS-shanghai-weibo-2012.db')
c=conn.cursor()
c.execute("SELECT * FROM weibo_status")
rows=c.fetchall()
len(rows)

520223

🤔 display the first 5 records of the table weibo_status (fetchone, limit)

In [10]:
query='''
SELECT * 
FROM weibo_status
LIMIT 5
'''
c.execute(query)
rows=c.fetchall()
rows

[(3513796771294526,
  '吃火锅啦 我在#洪长兴羊肉馆(云南南路店)# http://t.cn/zOeOmRM',
  1153054312,
  34647,
  '2012-11-18 19:24:56+08',
  None),
 (3514061394691877,
  '我要回来啦！！！阳光明媚啊！ 我在#大连周水子国际机场# http://t.cn/zOrpZiP',
  2883949090,
  19848,
  '2012-11-19 12:56:27+08',
  None),
 (3517373581677145,
  '不要散布你的困惑和苦厄，更不要炫耀你的幸福和喜乐。那只会使它们变得廉价。做个有骨气的人，戴一副合法的表情，纵有千言万语，只与自己说。 我在#新葡京娱乐场# http://t.cn/zj5w1zd',
  2287099050,
  32214,
  '2012-11-28 16:17:55+08',
  None),
 (3518848299203707,
  'The food just so so here [围脖] 我在#首尔焖鲜汇# http://t.cn/zjtAtq9',
  1765471642,
  2214,
  '2012-12-02 17:57:53+08',
  None),
 (3518909267803148,
  '老公和同事饭局间作一打游诗:我坐2 号头，你坐2号尾， 日日思君不见君，共坐2号轨。致静安女和张江男。 我在这里：http://t.cn/zlQbJ1x',
  2709940290,
  31412,
  '2012-12-02 22:00:10+08',
  None)]

### query with projection

🤔 display the columns with the status text and the date from weibo_status

In [65]:
query='''
SELECT status,created_at
FROM weibo_status
'''
c.execute(query)
rows=c.fetchall()
len(rows)

520223

🤔 display the description and gender from the table weibo_user __*renamed into `wu`*__

In [66]:
query='''
SELECT wu.description,wu.gender
FROM weibo_user wu
'''
c.execute(query)
rows=c.fetchall()
len(rows)

547363

🤔 display only the description from the table weibo_user but __rename the column `desc` instead of `description`__

In [67]:
query='''
SELECT description as desc
FROM weibo_user
'''
c.execute(query)
rows=c.fetchall()
len(rows)

547363

### query with selection

🤔 Select all the points of interests (POI) in jufengyuan road from the table weibo_location

In [ ]:
query='''
SELECT * 
FROM weibo_location
WHERE address LIKE '%%'
'''
c.execute(query)
rows=c.fetchall()
rows

🤔 Select all the shops around century park: bounding box __top left__ `121.5276, 31.2256` and __bottom right__ `121.5705, 31.2097`

In [24]:
query='''
SELECT *
FROM weibo_location
WHERE longitude BETWEEN 121.5276 AND 121.5705
AND latitude BETWEEN 31.2097 AND 31.2256
'''
c.execute(query)
rows=c.fetchone()
rows

(136,
 '逸谷',
 31.2123126416,
 121.563296975,
 'B2094757D065A6FF479C',
 '上海市芳甸路',
 '上海市,浦东新区,芳甸路',
 '广东菜',
 'Cantonese cuisine',
 '餐饮',
 72,
 332,
 308,
 130)

🤔 Select all the message where the text contains `happy`

In [16]:
query='''
SELECT *
FROM weibo_status
WHERE status LIKE '%happy%'
'''
c.execute(query)
rows=c.fetchone()
rows

(3520379303401237,
 ' @Joke_Li_CH  Happy Day[爱你] 我在这里：http://t.cn/zjcKBGB',
 1828408552,
 49448,
 '2012-12-06 23:21:34+08',
 None)

🤔 Select all the message where the text contains `happy` or `sad`

In [18]:
query='''
SELECT *
FROM weibo_status
WHERE status LIKE '%happy%' or '%sad%'
'''
c.execute(query)
rows=c.fetchone()
rows

(3520379303401237,
 ' @Joke_Li_CH  Happy Day[爱你] 我在这里：http://t.cn/zjcKBGB',
 1828408552,
 49448,
 '2012-12-06 23:21:34+08',
 None)

### query with counting

🤔 what is the most popular word in the message, `happy` or `sad`?

In [39]:
query = '''
SELECT COUNT(*)
FROM weibo_status
WHERE status LIKE '%happy%'
'''
query1='''
SELECT COUNT(*)
FROM weibo_status
WHERE status LIKE '%sad%'
'''
c.execute(query)
rows_happy = c.fetchall()
c.execute(query1)
rows_sad = c.fetchall()
if (rows_happy>rows_sad):
    print("happy is more popular")
else:
    print("sad is more popular")

happy is more popular

### query with sorting

🤔 show the top 10 coffee place according to their distinct user checkin count

In [55]:
query='''
SELECT title
FROM weibo_location
WHERE category_name = '咖啡厅'
ORDER BY distinct_user_checkin_count DESC
LIMIT 10
'''
c.execute(query)
rows=c.fetchall()
rows

[('星巴克(国贸360广场店)',),
 ('星巴克(新天地店)',),
 ('星巴克(来福士店)',),
 ('苏州中茵皇冠假日酒店',),
 ('星巴克咖啡美罗店',),
 ('古董花园 Antique Garden',),
 ('STARBUCKS COFFEE(大宁国际商业广场)',),
 ('星巴克咖啡(万达店)',),
 ('星巴克(龙之梦店)',),
 ('星巴克咖啡(南京路步行街)',)]

### query with grouping
🤔 list the locations grouped by their english category name (remove the null and unknown categories)

In [63]:
query = '''
SELECT DISTINCT category_en_name
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM',),
 ('Activity',),
 ('Adult Education',),
 ('Airport',),
 ('American flavor',),
 ('Anhui dishes',),
 ('Antiques and paintings shop',),
 ('Aquarium',),
 ('Archives',),
 ('Art gallery',)]

🤔 list the locations english category names and how many location each category has (remove the null and unknown categories)

In [62]:
query = '''
SELECT DISTINCT category_en_name,COUNT(*)
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM', 30),
 ('Activity', 8),
 ('Adult Education', 46),
 ('Airport', 183),
 ('American flavor', 8),
 ('Anhui dishes', 3),
 ('Antiques and paintings shop', 7),
 ('Aquarium', 2),
 ('Archives', 2),
 ('Art gallery', 17)]

🤔 list the top 10 locations english category names according to their count (remove the null and unknown categories)

In [56]:
query = '''
SELECT DISTINCT category_en_name,COUNT(*)
FROM weibo_location
WHERE (category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY category_en_name
ORDER BY COUNT(*) DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 5004),
 ('Food & Drink', 2294),
 ('Fast-food restaurant', 2254),
 ('Bus Station', 1859),
 ('Buildings', 1763),
 ('Other', 1735),
 ('Door', 1340),
 ('Live Entertainment', 1212),
 ('Shanghai cuisine', 990),
 ('Company', 811)]

🤔 list the top 10 locations english per street ordered by count. If the count is the same, order by the (category, street) having the most total checking

In [75]:
query = '''
SELECT DISTINCT category_en_name,street,title,COUNT(*) as total,SUM(distinct_user_checkin_count) as checkin
FROM weibo_location
WHERE (street <> 'None' AND category_en_name <> 'None' AND category_en_name <> 'Unknown Classification')
GROUP BY street,category_en_name
ORDER BY total DESC,checkin DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Food & Drink', '上海市南京西路', '王品台塑牛排', 32, 6786),
 ('Other', '上海市南京西路', '佰家仟味', 28, 7737),
 ('Residences', '上海市场中路', '幸福第二公寓', 28, 713),
 ('Buildings', '上海市延安西路', '首信银都大厦', 26, 3243),
 ('Residences', '上海市斜土路', '福华花苑', 26, 384),
 ('Food & Drink', '上海市华山路', '海底捞', 25, 3053),
 ('Fast-food restaurant', '上海市共和新路', '健利来绿豆饼(共和新路店)', 25, 2366),
 ('Food & Drink', '上海市共和新路', '赤坂亭 大宁店 A KA SA KA TEI', 25, 1734),
 ('Airport', '上海市浦东机场路', '上海浦东国际机场T1航站楼', 24, 112067),
 ('Residences', '上海市共和新路', '宝业馨康苑', 24, 667)]

### query multiple tables
🤔 select the top 10 location where people got birthday party

In [78]:
query = '''
SELECT 
    title,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    status LIKE '%happy birthday%' or
    status LIKE '%生日快乐%'
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('台北纯K Party', 12),
 ('唛歌时尚KTV(淮海中路店)', 11),
 ('银乐迪(虹口龙之梦店)', 10),
 ('Richy(复兴公园店)', 9),
 ('上海戏剧学院(莲花路校区)', 9),
 ('MUSE', 7),
 ('MUSE2', 7),
 ('银乐迪', 6),
 ('证大·大拇指广场', 6),
 ('大悦城', 6)]

🤔 select the top 10 favorite location where the top 500 most popular people

In [80]:
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('沪上一家辣肉面馆(成都北路店)', '上海市成都北路', 8),
 ('新天地', '上海市嵩山路', 7),
 ('川杨新苑三期', '上海市孙环路', 7),
 ('幸福码头', '上海市中山南路', 7),
 ('上海明天广场JW万豪酒店', '上海市江阴路', 7),
 ('汇贤居(The Summit)', '上海市安福路', 5),
 ('镇坪路', '上海市镇坪路', 5),
 ('环球金融中心', '上海市东泰路', 5),
 ('张江科教园区', '上海市华佗路', 5),
 ('中国联通', '上海市文治路', 5)]

🤔 THE FINAL QUERY
1. select the top 50 favorite location where the 500 most popular woman go 
2. select the top 50 favorite location where the 500 most popular men go
3. display the one they have in common and the one specific for each of these two genders orders by how many influencers go there

In [84]:
#q1
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 50
'''
c.execute(query)
rows = c.fetchall()
rows

[('凤城三村', '上海市江浦路', 13),
 ('康泰新城', '上海市华灵路', 13),
 ('新天地', '上海市嵩山路', 9),
 ('幸福码头', '上海市中山南路', 7),
 ('万源城朗郡', '上海市古龙路', 6),
 ('汤臣高尔夫别墅', '上海市龙东大道', 6),
 ('七韵美地苑', '上海市吴中路', 6),
 ('MUSE2', '上海市兴安路', 6),
 ('汇贤居(The Summit)', '上海市安福路', 5),
 ('南宜花苑', '上海市凯旋路', 5),
 ('镇坪路', '上海市镇坪路', 5),
 ('环球金融中心', '上海市东泰路', 5),
 ('馥邦中环广场', '上海市天山路', 5),
 ('中国联通', '上海市文治路', 5),
 ('上海外滩华尔道夫酒店(Waldorf Astoria Shanghai on the Bund)', '上海市延安东路', 5),
 ('安居兰庭', '上海市兰溪路', 4),
 ('muse 2', '上海市兴安路', 4),
 ('梅赛德斯奔驰文化中心音乐俱乐部', '上海市博成路', 4),
 ('星巴克(东樱花苑店)', '上海市浦逸路', 4),
 ('上海柏悦酒店', '上海市世纪大道', 4),
 ('复旦大学南区', '上海市政肃路', 4),
 ('上海市园林学校', '上海市杨树浦路', 3),
 ('上海国金中心IFC', '上海市陆家嘴环路', 3),
 ('绿地普陀商务广场', '上海市新村路', 3),
 ('上戏剧院', '上海市华山路', 3),
 ('调频壹广场', '上海市长寿路', 3),
 ('星巴克(五角场店)', '上海市邯郸路', 3),
 ('柚子(陆家嘴店)', '上海市银城中路', 3),
 ('大华虎城', '上海市大华路', 3),
 ('2013跨年演唱会聚集地', '北京市远大东路', 3),
 ('国峰科技大厦', '上海市内环高架路入口', 3),
 ('上海明天广场JW万豪酒店', '上海市江阴路', 3),
 ('上海数娱大厦', '上海市虹桥路', 3),
 ('德州路西营路', '上海市德州路', 2),
 ('纽斯桑拿会所', '上海市金汇南路', 2),
 ('CGV星星国际影城大华店', '上海市大华路', 2),
 ('上大聚丰园', '上海市上大路', 2),
 ('上海浦东新区图书馆(新馆)', '上海市前程路', 2),
 ('外滩', '上海市中山东一路', 2),
 ('大悦城', '上海市西藏北路', 2),
 ('田子坊', '上海市建国中路', 2),
 ('IN-HOUSE', '上海市愚园路', 2),
 ('上岛咖啡 浦北店 UBC Coffee', '上海市桂平路', 2),
 ('上海外滩茂悦大酒店', '上海市南浔路', 2),
 ('同济大学(沪西校区)', '上海市真南路', 2),
 ('龙之梦影城', '上海市汇川路', 2),
 ('东华大学-莱佛士国际设计学院', '上海市新华路', 2),
 ('上海市公安局出入境管理局', '上海市民生路', 2),
 ('海底捞火锅(长寿路)', '上海市长寿路', 2),
 ('港匯恆隆廣場', '上海市华山路', 2)]

In [112]:
#q2
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM 
    weibo_status ws
JOIN
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE 
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 50
'''
c.execute(query)
rows = c.fetchall()
rows

[('上海财经大学中山北一路校区', '上海市新市路', 13),
 ('沪上一家辣肉面馆(成都北路店)', '上海市成都北路', 8),
 ('川杨新苑三期', '上海市孙环路', 7),
 ('张江科教园区', '上海市华佗路', 5),
 ('中远两湾城西区', '上海市光复西路', 4),
 ('和风造型私属Salon', '上海市上南路', 4),
 ('南新四村', '上海市下南路', 4),
 ('幸福路', '上海市幸福路', 4),
 ('虹口体育馆', '上海市东体育会路', 4),
 ('G-Star RAW旗舰店', '上海市成都北路', 4),
 ('豪享来 梅川店', '上海市梅川路', 4),
 ('一兆韦德(丽园店)', '上海市西藏南路', 4),
 ('上海明天广场JW万豪酒店', '上海市江阴路', 4),
 ('海伦路', '上海市四平路', 4),
 ('大宁国际商业广场', '上海市共和新路', 3),
 ('夜市豆浆油条店', '上海市临潼路', 3),
 ('张江学生社区', '上海市华佗路', 3),
 ('上戏剧院', '上海市华山路', 3),
 ('外环隧道', '上海市S20外环高速', 3),
 ('徐汇瑞峰酒店', '上海市肇嘉浜路', 3),
 ('北斗星商业广场', '上海市泉临路', 3),
 ('星瀚奔驰', '上海市南大路', 3),
 ('合阳小区(南二门)', '上海市延长西路', 3),
 ('金茂大厦', '上海市海兴路', 3),
 ('全家便利店(延安二店)', '上海市延安西路', 2),
 ('上海影城--世博国际影城', '上海市世博馆路', 2),
 ('上海光大会展中心', '上海市习勤路', 2),
 ('虹桥机场(一号航站楼)', '上海市空港一路', 2),
 ('新发展亚太万豪酒店', '上海市大渡河路', 2),
 ('上海龙之梦丽晶大酒店', '上海市延安西路', 2),
 ('上海大剧院', '上海市新昌路', 2),
 ('爱家豪庭', '上海市物华路', 2),
 ('伟业金锦苑二邨', '上海市莱阳路', 2),
 ('锦秋花园', '上海市锦秋路', 2),
 ('通河二村', '上海市长江西路', 2),
 ('浦东交警支队事故科东明事故受理点', '上海市东明路', 2),
 ('上海市杨浦区中心医院', '上海市波阳路', 2),
 ('东方明珠', '上海市陆家嘴东路', 2),
 ('潍坊九村(西门)', '上海市崂山路', 2),
 ('浦东嘉里中心', '上海市芳甸路', 2),
 ('Wagas沃歌斯(金桥国际广场店)', '上海市金桥路', 2),
 ('世纪联华(东宝店)', '上海市天通庵路', 2),
 ('海底捞火锅(长寿路)', '上海市长寿路', 2),
 ('张江传奇广场', '上海市碧波路', 2),
 ('上海半岛酒店(The Peninsula,Shanghai)', '上海市北京东路', 2),
 ('上海安达仕酒店', '上海市嵩山路', 2),
 ('上海戏剧学院(莲花路校区)', '上海市莲花路', 2),
 ('上岛咖啡 梅川路店 UBC Coffee', '上海市梅川路', 2),
 ('复旦大学上海医学院', '上海市同生东路', 2),
 ('桂美别墅', '上海市钦州南路', 2)]

In [113]:
#q3
query = '''
SELECT 
    title,street,COUNT(*) as total
FROM
    weibo_location
WHERE
    title in (
        SELECT 
            title
        FROM 
            weibo_status ws
        JOIN
            weibo_location wl
        ON
            ws.weibo_location_id = wl.weibo_location_id
        WHERE 
            ws.weibo_user_id in (
                SELECT 
                    weibo_user_id 
                FROM 
                    weibo_user 
                WHERE 
                    gender='f' 
                ORDER BY 
                    followers_count DESC 
                LIMIT 500 ) 
        GROUP BY
            wl.weibo_location_id
        ORDER BY
            COUNT(*) DESC
        LIMIT 50 )
    AND
    title in (
        SELECT 
            title
        FROM 
            weibo_status ws
        JOIN
            weibo_location wl
        ON
            ws.weibo_location_id = wl.weibo_location_id
        WHERE 
            ws.weibo_user_id in (
                SELECT 
                    weibo_user_id 
                FROM 
                    weibo_user 
                WHERE 
                    gender='m' 
                ORDER BY 
                    followers_count DESC 
                LIMIT 500 ) 
        GROUP BY
            wl.weibo_location_id
        ORDER BY
            COUNT(*) DESC
        LIMIT 50 )
ORDER BY
    total
'''
c.execute(query)
rows = c.fetchall()
rows

[('上海明天广场JW万豪酒店', '上海市江阴路', 2)]